[Desktop Entry]
Version=1.0
Type=Application
Name=Poppi Launcher
Comment=Fast application launcher for GNOME
Exec=poppi_launcher
Icon=application-x-executable
Terminal=false
Categories=Utility;
StartupNotify=true
NoDisplay=true

